.hidden {
    display: none !important;
}

.sticky {
    position: sticky;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 10;
}

.tt-current-playlist-song {
    box-shadow: 0px 0px 20px 3px #9e9e9e;
}
.ant-select-selector {
    padding-left: 0px !important;
}
.tt-playlist-song:hover {
    background-color: #03a9f40f;
}
.tt-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}
*,
*:active,
*:hover,
*:visited,
*:focus {
    outline: none;
}
.tt-icon {
    cursor: pointer;
}
.tt-icon:hover,
.tt-icon:active,
.tt-icon:focus {
    color: #e91e63;
}
.tt-btn:hover,
.tt-btn:active,
.tt-btn:focus {
    color: #e91e63;
    border: none;
    background: transparent;
}
*:not(input) {
    cursor: default;
}

.blur-player {
    width: 200%;
    height: 200%;
    margin-left: -100px;
    margin-top: -100px;
    background-size: 200%;
    background-position: center center;
    filter: brightness(0.3) blur(10px);
}

.align-middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bars {
    height: 20px;
    position: relative;
    width: 18px;
    float: left;
}

.bar {
    background: #e20074;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: 0.35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 13px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 400ms;
}
.bar:nth-child(2) {
    left: 5px;
    animation-duration: 330ms;
}
.bar:nth-child(3) {
    left: 9px;
    animation-duration: 360ms;
}
.bar:nth-child(4) {
    left: 13px;
    animation-duration: 350ms;
}
